.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 30px 0px 0px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 20px;
  list-style-type: none;
  margin: 30px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}
